#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #000;
    color: white;
    font-size: 14px;
}

#footer h3::first-letter{
    color: red;
}